body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 10px solid black;
  padding: 50px;
  margin-bottom: 25px;
}

/* header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
} */

.current-date-time {
  background-color: #06aed5;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.time-block {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 75px;
}


.text-area {
  flex-grow: 1;
  max-width: 900px;
  background: transparent;
  border: none;
  border-left: 1px solid black;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-left: 15px;
}

.text-area:focus {
  outline: none;
}

.hour {
  text-align: center;
  width: 5%;
  border-top: 1px solid black;
  padding-top: 10px;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.save-btn {
  border: none;
  border-top: 1px solid white;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: 7%;
}

.save-btn i {
  font-size: 1.5rem;
}

.save-btn i:hover {
  transition: all 0.3s ease-in-out;
}

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
} */

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}
